<div class="box painel">
    <a href="/callList"><button class="btn-painel">Iniciar chamada</button></a><br>
    <a href="/cad"><button class="btn-painel">Cadastrar passageiro</button></a><br>
    <a href="/upPass"><button class="btn-painel">Remover passageiro</button></a>
</div>