{{#each lista}}
<div class="pass">
Nome Completo: {{dataValues.nomeCompleto}}<br><br>
Email: {{dataValues.email}}<br><br>
Telefone: {{dataValues.telefone}}<br><br>
<p class="msg-a">AUSENTE</p>
</div>
{{/each}}

<br><a href="/endCallList"><button class="next">Encerrar chamada</button></a>