    <div class="extra">SISTEMA TRANSPORTE </div>

    <div class="login">
        <h1> Central de acesso</h1>
        <input type="text" placeholder="Código">
        <br><br>
        <form action="/cad" method="GET">
        <input type="submit" name="submit" value="Cadastrar Passageiro"/>
        </form>
        
    </div>

