
    <div class="login">
        <h3> Central de acesso</h3>
        <form action="/check" method="POST">
        <br><br>
        <input type="text" name="code" placeholder="Código" class="inputUser">
        <br><br>
        <input type="submit" name="submit" value="Enviar" class="submit"/>
        <p class="msg-a">Código inválido!</p>
        </form> 
    </div>
