<div class="text-bg">
<p>Bem-vindo ao nosso site de transporte escolar em ônibus. Somos uma empresa comprometida em fornecer serviços seguros e confiáveis para transportar crianças e adolescentes de forma confortável e pontual para a escola e para casa.</p>
</div>
<div class="text-bg a">
<p>Nós entendemos que a segurança é a prioridade número um quando se trata de transporte escolar. É por isso que todos os nossos motoristas passam por rigorosos processos de triagem e treinamento para garantir que eles possam transportar seus filhos com segurança e responsabilidade.</p>
</div>
<div class="text-bg">
<p>Também nos orgulhamos em oferecer uma frota de ônibus modernos, equipados com cintos de segurança, ar condicionado e outros recursos que garantem uma experiência de viagem confortável.</p>
</div>  
<div class="text-bg a">
<p>Nosso compromisso com a segurança e o conforto dos seus filhos é a nossa principal prioridade. Nós valorizamos a confiança que você deposita em nós para cuidar do transporte de seus filhos e estamos comprometidos em fornecer o melhor serviço possível. Se você tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato conosco.</p>
</div>
<div class="text-bg">
    Trabalho composto por estudantes do 1° semestre do curso de Ciencias da computação na Unijorge, o qual tem como intuito gerar um site capaz de portar uma lista de passageiros de um transporte escolar particular, compreendendo uma área de cadastro para passageiros e motoristas, a fim de tornar o transporte mais eficiente e prático
</div>

