:root{
    --primary-color: #adeada;
    --sec-color:#edeade;
    --terc-color: #ddeadd;
    --light-grey-color: #EEEEEE;
    --gap:1rem;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(04, 05, 29);
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    padding: 18rem 0;
    color:var(--primary-color);
    font-size: 2rem;
    margin: 0;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}

button{
    background-color: goldenrod;
    border: none;
    padding: 9px;
    width: 10rem;
    min-width: 10rem;
    margin: 0 1rem;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-top: 3rem;
}

button:hover{
    background-color: gold;
    cursor: pointer;
}


fieldset{
    border: none;
}

legend{
    font-size: 30px;
    text-align: center;
}

form{
    width: 45vh;
}