.login{
    box-shadow: 0 0 13px black;
    background-color: rgb(04, 05, 29, 0.9);
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
}

.extra{
    position: absolute;
    left: 8%;
    top: 5%;
    transform: translateX(-8%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    

}

.box{
    box-shadow: 0 0 13px black;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%,-50%);
    background-color: rgb(04, 05, 29, 0.9);
    color: white;
    padding: 53px 53px 90px 53px;
    border-radius: 15px;
    width: 300px;
    height: 425px;
}

.inputBox{
    position: relative;
    
}
.inputUser{
    padding: 15px 0 8px 0;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}

.label-input{
    position: relative;
    bottom: 22px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .label-input,
.inputUser:valid ~ .label-input{
    bottom: 50px;
    font-size: 12px;
    color: dodgerblue;
}

.submit{
    background-color: dodgerblue;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 15px;
}

.submit:hover{
    background-color: deepskyblue;
    cursor: pointer;
}